PORT=3306
USERNAME=admin
PASSWORD=1234567890

ROOT_PASSWORD=root_password
DATABASE=db

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

# Application
BACKEND_PORT=3000
NODE_ENV=development

# Database
DB_HOST=10.10.3.1